In [2]:
%%file brain_size.csv
"";"Gender";"FSIQ";"VIQ";"PIQ";"Weight";"Height";"MRI_Count"
"1";"Female";133;132;124;"118";"64.5";816932
"2";"Male";140;150;124;".";"72.5";1001121
"3";"Male";139;123;150;"143";"73.3";1038437
"4";"Male";133;129;128;"172";"68.8";965353
"5";"Female";137;132;134;"147";"65.0";951545

Writing brain_size.csv

In [3]:
import pandas
data = pandas.read_csv('brain_size.csv', sep=';', na_values=".")
data

   Unnamed: 0  Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
0           1  Female   133  132  124   118.0    64.5     816932
1           2    Male   140  150  124     NaN    72.5    1001121
2           3    Male   139  123  150   143.0    73.3    1038437
3           4    Male   133  129  128   172.0    68.8     965353
4           5  Female   137  132  134   147.0    65.0     951545

In [4]:
import numpy as np
t = np.linspace(-6, 6, 20)
sin_t = np.sin(t)
cos_t = np.cos(t)

pandas.DataFrame({'t': t, 'sin': sin_t, 'cos': cos_t})

         cos       sin         t
0   0.960170  0.279415 -6.000000
1   0.609977  0.792419 -5.368421
2   0.024451  0.999701 -4.736842
3  -0.570509  0.821291 -4.105263
4  -0.945363  0.326021 -3.473684
5  -0.955488 -0.295030 -2.842105
6  -0.596979 -0.802257 -2.210526
7  -0.008151 -0.999967 -1.578947
8   0.583822 -0.811882 -0.947368
9   0.950551 -0.310567 -0.315789
10  0.950551  0.310567  0.315789
11  0.583822  0.811882  0.947368
12 -0.008151  0.999967  1.578947
13 -0.596979  0.802257  2.210526
14 -0.955488  0.295030  2.842105
15 -0.945363 -0.326021  3.473684
16 -0.570509 -0.821291  4.105263
17  0.024451 -0.999701  4.736842
18  0.609977 -0.792419  5.368421
19  0.960170 -0.279415  6.000000

In [8]:
print("data.shape = {0}".format(data.shape))
print("data.columns = {0}".format(data.columns))
print("data['Gender'] = {0}".format(data['Gender']))
print("data[data['Gender'] == 'Female']['VIQ'].mean() = {0}".format(data[data['Gender'] == 'Female']['VIQ'].mean()))
print("data[data['Gender'] == 'Male']['VIQ'].mean() = {0}".format(data[data['Gender'] == 'Male']['VIQ'].mean()))

data.shape = (5, 8)
data.columns = Index(['Unnamed: 0', 'Gender', 'FSIQ', 'VIQ', 'PIQ', 'Weight', 'Height',
       'MRI_Count'],
      dtype='object')
data['Gender'] = 0    Female
1      Male
2      Male
3      Male
4    Female
Name: Gender, dtype: object
data[data['Gender'] == 'Female']['VIQ'].mean() = 132.0
data[data['Gender'] == 'Male']['VIQ'].mean() = 134.0

In [10]:
groupby_gender = data.groupby('Gender')
for gender, value in groupby_gender['VIQ']:
    print((gender, value.mean()))

groupby_gender.mean()

('Female', 132.0)
('Male', 134.0)

        Unnamed: 0        FSIQ    VIQ    PIQ  Weight     Height  MRI_Count
Gender
Female         3.0  135.000000  132.0  129.0   132.5  64.750000   884238.5
Male           3.0  137.333333  134.0  134.0   157.5  71.533333  1001637.0